/*
Theme Name: 2bHealthy
Author: Devon Bussell
Author URI: devonbussell.com
*/


html,body,div,ppan,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

*{font-family: 'AvenirLTStd-Roman'!important; box-sizing:border-box;}
*{-webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;}


div#mfPreviewBarShow{z-index:9999; position:fixed!important;}

body{width:100vw; overflow-x:hidden;}
header#header{background-color: #24d0fb; color:#fff; width:100%; z-index:999; position:fixed; top:0px;}
div#header-outer-wrapper{max-width:1080px; margin:auto; padding:0px 40px;}
div#header-inner-wrapper{display:table; width:100%; height:120px;}
header#header.sticky div#header-inner-wrapper{height:80px;}
footer#footer{background-color: #f5f5f5; padding:80px;}
div#container{flex: 1; max-width:1080px; margin:auto; padding:80px 40px; width:100%;}
section.entry-content{position:relative;}
div#wrapper{display: flex; flex-direction: column; min-height: 100vh; padding-top:120px;}
body.page-template-page-directory div#wrapper{display:block!important;}
body.home.page div#wrapper{display:block!important;}


/* Navigation */
div#nav-wrapper{margin:auto; display:table-cell; vertical-align:middle}
section#branding{display:inline-block; float:left;}
nav#menu{display:inline-block; float:right; line-height:60px; vertical-align:middle; width:750px;}
nav#menu ul{display: flex; flex-flow: row wrap;  justify-content: space-around;}
nav#menu li{display:inline-block;}
nav#menu li a{color:#fff; text-decoration:none; text-transform:uppercase; font-size:19px; font-weight:bold;}
nav#menu li.current-menu-item a{color:#000;}
img#site-logo{height:55px; width:auto;}
a#hamburger-menu{font-size:40px; color:#fff; display:none; float:right; padding-top:12px;}



/* Global Elements */
p {font: 15px 'Avenir 55 Roman'; line-height:150%; margin-bottom:20px;}
h1.entry-title{color: #24d0fb; font: 40px 'Avenir 55 Roman'; line-height:150%; margin-bottom:20px;}
h3{color: #24d0fb; font: 20px 'Avenir 65 Medium'; line-height:150%; font-weight:bold; margin-bottom:30px;}
h4{color: #24d0fb; font: 15px 'Avenir 55 Roman'; line-height:150%; margin-bottom:20px;}
a{color:#000; text-decoration:none;}
img.attachment-post-thumbnail{max-width:100%; height:auto;}
div#map{width:100%; height:450px}


/* Footer */
footer#footer{z-index:2}
div#footer-social{float:right}
div#footer-inner-wrapper{max-width:1080px; padding:0px 40px; margin:auto;}
a#login{text-transform:uppercase; background-color:rgba(0,0,0,.6); color:#fff; padding:10px; border-radius:4px; font-size:12px; }


/* Logged in */
body.admin-bar{margin-top:30px;}
body.admin-bar header#header{top:30px!important}
body.admin-bar div#directory-top-nav{top:150px!important}

/* Login Screen */
body.wp_router_page-template-default section#content, body.page-template-page-login section#content{text-align:center;}
form#loginform{background-color: #f5f5f5; margin:auto; text-align:left; padding:80px; display:inline-block;}


/* Partners */
section#the-partners{display:inline-block; float:left; width:25%; padding-top:60px;}
thethe-partners-list a{position:relative;}
ul.the-partners-list a li{font-weight:bold; font-size:20px; border-bottom:1px solid #000; margin-bottom:40px; padding-bottom:20px;position: relative;}
ul.the-partners-list a:hover li, ul.the-partners-list a.active li{color:#24d0fb; border-bottom:1px solid #24d0fb;}
ul.the-partners-list a.inactive{color:#000; border-bottom:1px solid #000;}
div.partner-wrapper{display:none}
div.partner-wrapper.active{display:block}
div.partner-wrapper-left{padding-left:20px; float:left; width:66%;}
section#selected-partner-info{display:inline-block; float:left; width:75%; position:relative;}
div#partner-info-wrapper{background-color: #24d0fb; padding:40px;}
div.partner-info{background-color:#fff; padding:20px; }
div.partner-sidebar{width:34%; display:inline-block; float:left;}
div.partner-sidebar-wrapper{background-color:#fff; padding:20px;}
div.partner-events{padding:20px 0px;}
a.social-link{height:30px; width:30px; border-radius:15px; background-color:#24d0fb; display:inline-block; background-position:center; background-size:50%; background-repeat:no-repeat;}
address.organizer-address{overflow-wrap: break-word; margin:10px 0px;}
div.partner-wrapper h2.tribe-events-page-title{color:#fff!important; text-transform:none; padding-bottom:20px; font-weight:bold; font-size:20px;}
body.page-template-page-partners span.tribe-events-list-separator-month{display:none;}
body.page-template-page-partners div.type-tribe_events{padding:0px!important;}
body.page-template-page-partners div.tribe-events-event-image{width:100%;}
body.page-template-page-partners div.tribe-events-list-event-description.tribe-events-content{display:none}
body.page-template-page-partners div.event-list-inner-wrapper{position:absolute; top:0px; left:0px; padding:40px; text-align:center; background: rgba(36,208,251,0.7); height:200px; width:300px;}
body.page-template-page-partners div.event-list-inner-wrapper span.tribe-address{display:none;}
body.page-template-page-partners div.event-list-inner-wrapper div.tribe-events-venue-details a{color:#fff!important}
body.page-template-page-partners div.type-tribe_events{position:relative; padding:0px; width:200px; height:300px; margin:20px 0px}
body.page-template-page-partners div#tribe-events-footer{display:none;}
body.page-template-page-partners a.tribe-events-ical{display:none;}
body.page-template-page-partners li.tribe-events-nav-next{display:none;}
body.page-template-page-partners .tribe-events-list .type-tribe_events{background-color:transparent!important; border-bottom:0px!important; margin-bottom:-100px!important}


/* Directory */
div.partner-info.directory{background-color:#24d0fb;}
div.partner-info.directory h2.tribe-events-page-title{border-bottom:1px solid #fff; padding-bottom:10px; margin:0px 0px 20px 0px !important;}
div.sprite{height:50px; width:100px; background-position:left 0%; background-repeat:no-repeat; margin-bottom:20px;}
div.sprite.silverware{background-size:26px; height:49px!important}
div.sprite.health{background-size:54px;}
div.sprite.fitness{background-size:86px;}
div.sprite.mental{background-size:51px;}
div#directory-top-nav{ position: fixed; top: 120px; width:100%; background-color:#fff; padding:47px 0px; max-width:750px;}
ul.the-partners-list{ max-width:210px; z-index:1; overflow: visible;}
section#alpha-nav{float:left;}
section#search-bar{border-radius:10px; height:20px; position:absolute; top:0px; right:0px;}
section#alpha-nav ul li{text-transform:uppercase; display:inline-block; padding-right:7px;}
section#alpha-nav ul li.empty {color: rgba(0,0,0,.25); }
div.directory-top-nav-inner-wrapper{position:relative;}
body.page-template-page-directory section#the-partners{padding-top:20px}
section#alpha-nav a.active{font-weight:bold; color:#24d0fb;}
div.partner-wrapper-left h2.tribe-events-page-title{margin:0px!important}



a.partner.active div.sprite, a.partner:hover div.sprite{background-position:left -50px;}

div#directory-top-nav.sticky {
top:80px;
    z-index: 999;

}

/* CSS Arrow Notch */
a.active b.notch {
    position: absolute;
    top: 0px;
    right: -40px;
    margin: 0px;
    border-left: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #24d0fb;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: #24d0fb;
    _border-left-color: #24d0fb;
    _filter: chroma(color=blue);
}

body.page-template-page-partners a.active b.notch, body.page-template-page-default a.active b.notch{display:none;}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    a.active b.notch {right: -250px;}
}

/* Chrome 22-28 */
@media screen and(-webkit-min-device-pixel-ratio:0) {
  .selector {-chrome-:only(; 
     a.active b.notch {right: -250px;}
  );} 
}


/* News */
div.news-wrapper{padding:20px; background-color: #80c371; color: #fff; margin-bottom: 20px; position:relative; padding-right:60px;}
div.news-post-thumbnail{display:inline-block; width:25%; float:left; height:200px; background-position:center; background-size:cover;}
div.news-inner-wrapper{max-width:70%; display:inline-block; float:left; padding-left:40px;}
h3.newsfeed-post-title{color:#fff}
a.read-more{position: absolute; right: 20px; bottom:20px; background-color:#fff; padding:10px 40px;}
body.page-template-page-news div.sprite{position:absolute; right:20px; top:20px; background-position:right 0%; width:50px!important;  background-size:100%}
body.page-template-page-news div.sprite.health{height:47px!important}

/* News Single */
img.attachment-post-thumbnail{margin:20px 0px;}


/* Event Single */
div.event-column-left, div.event-column-right{width:50%; float: left;}
div.event-column-right{padding-left:40px; padding-right:100px;}
h1.tribe-events-single-event-title{color:#bc65a5}
h2.event-schedule{margin-bottom:10px;}
div#tribe-events-footer{border-top:0px!important}
div.tribe-events-event-image{float:none!important; margin:0px!important;}
div.tribe-events-single-section.tribe-events-event-meta.secondary.tribe-clearfix{margin-top:0px; padding:0px; border:0px; background-color:#fff;}
div.tribe-events-meta-group.tribe-events-meta-group-venue{display:none;}
div.tribe-events-venue-map{width:100%!important; float:none!important;}

/* Organizer Single */
h2.tribe-organizer-name{font-size:1.7em; color: #24d0fb}
body.single-tribe_organizer div.tribe-events-list div.type-tribe_events{width:31%; float:left; margin: 1% 1%; height:200px!important; overflow-y:hidden!important}
body.single-tribe_organizer div.tribe-events-list div.type-tribe_events div.recurringinfo{display:none!important}
body.single-tribe_organizer div.tribe-events-list div.tribe-events-loop{max-width:100%!important}
body.single-tribe_organizer span.tribe-events-list-separator-month{display:none;}
body.single-tribe_organizer div.type-tribe_events{padding:0px!important;}
body.single-tribe_organizer div.tribe-events-event-image{width:100%;}
body.single-tribe_organizer div.tribe-events-list-event-description.tribe-events-content{display:none}
body.single-tribe_organizer div.event-list-inner-wrapper{position:absolute; top:0px; left:0px; padding:40px; text-align:center; background: rgba(36,208,251,0.75); height:100%; width:100%;}
body.single-tribe_organizer div.event-list-inner-wrapper span.tribe-address{display:none;}
body.single-tribe_organizer a.tribe-event-url{color:#fff!important}
body.single-tribe_organizer iv.tribe-event-venue-details{display:none}

/* Tribe Bar */
div.tribe-bar-views-inner{background-color: #f5f5f5 !important}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a{background-color: #f5f5f5 !important}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a{background-color: #f5f5f5 !important}
div.tribe-bar-submit{padding:15px!important}

/* List View */
.tribe-events-list .type-tribe_events{background-color:#bc65a5!important; color:#fff!important; padding:20px!important; border-bottom: 1px solid #fff!important; padding-bottom:60px;}
div.event-list-inner-wrapper{float:left; width:75%;}
div.view-list div.tribe-events-event-image{float:left!important; width:25%; margin-right:20px;}
h2.tribe-events-list-event-title{color:#ffffff!important}
div.view-list #tribe-events .tribe-events-content {line-height:1;}
div.view-list h2.tribe-events-list-event-title a.tribe-event-url{color:#fff!important;}
div.view-list div.tribe-events-venue-details{display:none}
a.tribe-events-read-more{position: absolute; right: 20px; bottom:20px; background-color:#fff; padding:10px 40px;}
div.view-list div.tribe-events-list-event-description.tribe-events-content{padding-bottom:40px;}
span.tribe-events-list-separator-month{display:none;}
div.recurringinfo{display:block!important; margin: 10px 0px;}

/* Image View */
#tribe-events-photo-events .type-tribe_events.tribe-events-photo-event{padding:0px!important;}
div.view-photo div.tribe-events-event-details.tribe-clearfix{position:absolute; top:0px; left:0px; padding:40px; text-align:center; background: rgba(188,101,165,0.75); height:100%; width:100%; display: flex; align-items: center; justify-content: center;}
div.view-photo a.tribe-event-url{color:#fff!important;}
div.view-photo div.sprite{ background-position:center 100%; margin:auto; -webkit-transform: scale(.7); transform: scale(.7) }
div.view-photo div.sprite.mental-health{background-size:50%; background-position: center 100%;}
div.view-photo div.sprite.health{background-size:52px;}
div.view-photo div.sprite.fitness{background-size:84px;}
.type-tribe_events.tribe-events-photo-event .tribe-events-photo-event-wrap{height:200px; overflow:hidden!important}

/* Map View */
div#tribe-events-content.tribe-events-list.tribe-events-map{display:none!important}
div.view-map div#tribe-events-bar{position:absolute; top:-120px;}
body.home div#tribe-geo-map-wrapper{position:relative; margin-top:120px; width:100%;}
div.tribe-bar-filters-inner.tribe-clearfix{background-color:#f5f5f5;}
div.tribe-events-event-thumb{padding:0px;!important}
div.gm-style-iw{font-size:15px!important; line-height:120%!important;}

/* Month View */
table.tribe-events-calendar{border:20px solid #bc65a5!important;}
table.tribe-events-calendar th{background-color:#bc65a5!important; text-align:left; text-transform:lowercase; border:none!important; color:#d6abcd!important; font-size:20px;}
.tribe-events-calendar td {background-color:#d6abcd!important; color:#bc65a5!important;}
.tribe-events-calendar td div{background-color: #d6abcd!important; color:#bc65a5!important; font-size:16px!important}
form#tribe-bar-form{background-color:#fff!important}
div.tribe-bar-filters{width: 80%!important; }
div.single-filter{background-color: #f5f5f5!important}
.tribe-events-calendar td div.type-tribe_events{border-bottom:0px!important; padding:10px;}
table.tribe-events-calendar a{color:#bc65a5!important;}
h2.tribe-events-page-title{font-weight:light; color:#bc65a5!important; margin:60px 0px !important;}
a.tribe-events-button{background-color:#bc65a5!important;}
div.tribe-events-tooltip h4{color:#fff;}
input.tribe-events-button{background-color:#bc65a5!important; color:#fff;}
.tribe-events-calendar thead th{font-weight:normal!important; font-size:18px!important; padding:0px 0px 10px 0px!important}
#tribe-events-content .tribe-events-tooltip{background-color:#bc65a5!important; color:#fff; padding:10px; z-index:9999;}
#tribe-events-content .tribe-events-tooltip h4{color:#fff!important}
.tribe-events-tooltip .tribe-events-event-thumb{display:block; float:none; padding-bottom:10px;}
#tribe-events-content .tribe-events-tooltip div{background-color:#bc65a5!important; color:#fff!important;}
.tribe-events-tooltip .tribe-events-arrow{background-image: url('images/tooltip-arrow.png')!important; bottom: 10px;
left:-10px}
div.view-month div.tribe-events-event-thumb{width:100%; padding:0px!important; margin-bottom:10px;}
.tribe-events-tooltip h4.entry-title{border-bottom:2px solid #fff; padding-bottom:10px!important;}
.tribe-events-tooltip div.tribe-event-duration{font-size:15px!important; margin-bottom:10px;}
.tribe-events-tooltip div.tribe-event-description{margin-top:20px!important;}
div#tribe-events-bar{margin-bottom:0px!important}
div.tribe-events-tooltop div.tribe-event-duration{padding-top:10px;}

/* Submit an Event */

div.events-community-post-title label, div.events-community-post-content label{display:block!important; text-align: left!important;}
div.events-community-post-title input, div.events-community-post-content textarea{width:100%!important;}
body.tribe_community_edit:not(.search-results) article:not(.type-page) .entry-content{width:100%!important}
.tribe-events-community-footer. button{background: #24d0fb -webkit-linear-gradient(96deg, #0782d8, #24d0fb);
background: #24d0fb linear-gradient(354deg, #0782d8, #24d0fb);}

#content.loading > * {
    opacity:0.2;
}

#content.loading:before {
    content: "Loading New Posts";
    padding: 22px;
    background: #000;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
} 

body.home h1.entry-title{display: none}
body.single-tribe_organizer h1.entry-title{display: none}
body.single-tribe_events h1.entry-title{display: none}

div.tribe-events-event-cost span{color:#000}

div.tribe-events-tooltip h4.entry-title.summary{margin-bottom:10px!important}
div.tribe-events-photo-event-wrap{position:relative;}
h3.tribe-events-month-event-title{font-size:13pt!important}
#tribe-events-content .tribe-events-calendar td:hover{box-shadow:none!important;}
.tribe-events-list .tribe-events-event-image img{-webkit-opacity:.5; opacity: .5;}
.partner-wrapper a {color:#fff!important}
.partner-wrapper .the-website{color:#24d0fb!important; margin-bottom:24px; display:inline-block; border-radius:6px; font-weight:bold; font-size:12px}

body.page-template-page-partners .recurringinfo{display:none!important}
.page-template-page-partners .sprite{background-position: center 100%!important}
.page-template-page-partners .tribe-events-event-cost{display:none;}
.page-template-page-partners .tribe-events-list-event-title{font-size: 21px; line-height: 1.35; margin-bottom: .35em }
body.page-template-page-partners .tribe-events-list .type-tribe_events{background-color:#fff!important; width:100%; height:300px; margin-bottom:20px!important;  display: flex; align-items: center; justify-content: center; overflow:hidden;}
body.page-template-page-partners .tribe-events-list .type-tribe_events img{width:500px; height:auto;}
body.page-template-page-partners .sprite{display:inline-block!important}
body.page-template-page-partners div.event-list-inner-wrapper{width:100%; height:100%;}
.page-template-page-partners .tribe-events-sub-nav{display:none}
.page-template-page-partners .tribe-events-notices{display:none;}
.single-tribe_events .tribe-events-schedule .tribe-events-divider{display:none!important}
.view-list .sprite {top: 20px; position: absolute; right: 20px; -webkit-transform: scale(.7); transform: scale (.7); background-position: right 0%}
.view-list .tribe-events-event-cost {display:none;}
.view-list .tribe-events-list .tribe-events-event-image img{width:90%}
div.event-is-recurring, div.event-is-recurring a{color:#fff!important}

.single .event-is-recurring, .single .event-is-recurring a{color:#000!important; text-decoration:underline;}
.tribe-events-list .event-is-recurring, .tribe-events-list .event-is-recurring a{color:#fff!important; text-decoration:underline;}
.single h2.event-schedule{margin-top:30px;}
.single .organizer-link{margin-top:30px; line-height:120%;}
.single .organizer-link a{display:block;}
span.tribe-events-cost {display:block; margin-top:30px;}
.event-is-recurring .tribe-events-divider{display:none!important;}
.tribe-events-list .tribe-events-event-meta{margin-top:20px!important}
.tribe-events-list .recurringinfo {margin:0px 0px!important}
.single-tribe_events .tribe-events-schedule .recurringinfo, .single-tribe_events .tribe-events-schedule .tribe-events-cost, .single-tribe_events .tribe-events-schedule .tribe-events-divider {font-size:inherit!important}
.sprite .fitness .white{background-position-y:100%;}
.single-tribe_events sprite{position:absolute; right:0px;}

h4.contact{margin-top:20px; margin-bottom:0px;}