@media (max-width: 1000px) {

		div#header-inner-wrapper{height: 80px;}
		a#hamburger-menu{display:inline-block;}
		a#hamburger-menu.active{color:#000}
		nav#menu{display:none; 
			 position: fixed;
			 background-color: #f5f5f5;
			 height: calc(100% - 80px);
			 width:100vw;
			 top: 80px;
			 left:0px;
			 z-index:99;
			}
		nav#menu.active{display:table}
		div.menu-main-menu-container{display:table-cell; vertical-align:middle; padding:40px;}
		nav#menu ul{flex-direction: column; text-align:center; height:60vh;}
		nav#menu li a{color:#24d0fb}
		
		
		div#directory-top-nav{top:80px;}
		
		
		div#container{padding:0px 40px 40px 40px;}
		a#login{display:block; text-align: center; margin-bottom:15px}
		div#footer-social{float:none;}
		div#footer-inner-wrapper{text-align: center}
		section.entry-content div#map{height:250px;}
		
		div.event-column-left{width:100%; float:none; margin-bottom:40px}
		div.event-column-right{padding-left:0px; width:100%;}

		ul.the-partners-list a li{font-size:15px!important}
		section#the-partners{width:33%!important}
		section#selected-partner-info{width:66%!important}
		
		body.home a.tribe-events-read-more{display:none!important;}
		div.tribe-events-photo-event-wrap div.tribe-events-event-image img{width:100%!important}
		div.news-post-thumbnail{display:none!important}
		div.view-list div.tribe-events-event-image{display:none!important}
		div.view-list div.tribe-events-event-meta{color:black!important; padding-left: 10px;}
		div.news-inner-wrapper{max-width:100%!important; padding-left:0px!important}
		
		div#directory-top-nav{left:40px!important}
		div#directory-top-nav section#search-bar{display:none}
		div#directory-top-nav section#alpha-nav{font-size:10pt;}
		div#partners-list-wrapper{margin-top:40p!important; padding-right:20px; margin-bottom:20px!important}
		
		
		div.partner-wrapper-left{width:100%!important; padding-left:0px; padding-top:10px;}
		body.page-template-page-partners div.partner-sidebar{width:100%!important}
		div.partner-sidebar-wrapper{width:100%!important}
		body.page-template-page-partners div.partner-wrapper-left{padding-right:0px!important}
		body.page-template-page-partners div#partner-info-wrapper{padding:10px!important}
		body.page-template-page-partners ul.the-partners-list{padding-right:10px}
	}
	
	